<div>
    <li>
        {{burger_name}}
        <button class="devour-it" data-id="{{id}}" data-newlist="{{devoured}}">
            {{#unless devoured}}Devour it!!{{/unless}}
        </button>
    </li>

    <li>
         {{burger_name}}
        {{#if devoured }} <b>{{burger_name}}</b>{{/if}}
    </li>
</div>
